# Flask настройки
FLASK_ENV=production
SECRET_KEY=4rm5KROMk_A4_GUbbuXvqE_tkPRqANkpPNkt2Wth1hc
PORT=5000

# База данных
DATABASE_URL=postgresql://rentuser:R2ntS2c@localhost:5432/rentdatadb

# Redis
REDIS_URL=redis://localhost:6379/0

# JWT
JWT_SECRET_KEY=z0np_OlUpkMNnxua8fMrz9wCfARNMaaSDnXzsCZs8Ik

# Telegram Bot
TELEGRAM_BOT_TOKEN=7563888297:AAFFamD36WBMnF7fvMkHD0fbcuKcCrbsJac
CHAT_ID=392458818
TELEGRAM_WEBHOOK_URL=https://88.151.114.49/webhook/telegram

# Настройки приложения
ITEMS_PER_PAGE=12
MAX_CART_ITEMS=20
MAX_RENTAL_DAYS=10
DEFAULT_DELIVERY_FEE=600
MIN_ORDER_AMOUNT_FOR_FREE_DELIVERY=5000

# Логирование
LOG_LEVEL=INFO

# Дополнительные настройки безопасности
SESSION_COOKIE_SECURE=true
SESSION_COOKIE_HTTPONLY=true
SESSION_COOKIE_SAMESITE=Strict 
