# Flask настройки
FLASK_ENV=development
SECRET_KEY=AK2YSTRT-S2C_RANDMOSMONDNIDN-H&FUHJ*HGF656464GI-KEYSTP
PORT=5000

# База данных
DATABASE_URL=postgresql://rentuser:R2ntS2c@localhost:5432/rentdatadb
TEST_DATABASE_URL=postgresql://rentuser:R2ntS2c@localhost:5432/makita_rental_test

# Redis
REDIS_URL=redis://localhost:6379/0

# JWT
JWT_SECRET_KEY=K2YSTRT-S2C_RANDMOBVKVT876875-H&FUHF656464GI-KEYSTP

# Telegram Bot
TELEGRAM_BOT_TOKEN=7563888297:AAFFamD36WBMnF7fvMkHD0fbcuKcCrbsJac
CHAT_ID=392458818
TELEGRAM_WEBHOOK_URL=https://renttap.aibotrade.ru/webhook/telegram

# Настройки приложения
ITEMS_PER_PAGE=12
MAX_CART_ITEMS=20
MAX_RENTAL_DAYS=10
DEFAULT_DELIVERY_FEE=600
MIN_ORDER_AMOUNT_FOR_FREE_DELIVERY=5000

# Логирование
LOG_LEVEL=INFO
